.site-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  background: #fff;
  box-shadow: -0.2em 0.2em 0.5em 0rgba(0,0,0,0.2);
}

.site-title {
  font-size: 2em;
  line-height: 1;
  margin: 0 ;
}

.site-title a {
  display: block;
  text-decoration: none;
}
