body {
  padding: 2em;
  background-color: #010C15;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site {
  background-color: #011627;
  color: #FFF;
  border: 1px solid #1E2D3D;
  width: 100%;
  max-width: 1200px;
}
