.site-footer {
  border-top: 1px solid #1E2D3D;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 15;
}

.site-footer .socials {
  gap: 0;
  flex-grow: 1;
}

.site-footer .socials a {
  color: #fff;
}

.site-footer .socials li {
  border-left: 1px solid #1E2D3D;
}

.site-footer .socials li:last-child {
  border-right: 1px solid #1E2D3D;
  margin-left: auto;
}

.site-footer p,
.site-footer li {
  padding: 0.7em 1.1em;
}
