.button {
  display: inline-block;
  background: #369;
  color: #fff;
  padding: 0.5em 0.8em;
  border-radius: 0.3em;
}

.collapsible {
  margin: 1em;
  margin-left: 3em;
  background-color: rgba(137, 85, 121, 0.86);
  color: #000000;
  cursor: pointer;
  padding: 1em;
  width: 20%;
  border: solid;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.collapsible.active {
  background-color: #1e1f22;
  color: #895579;

}

.expandable {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.collapsible.active + .expandable {
  display: block;
  margin-bottom: 1em;
}
